# Ignore artifacts:
coverage
chart
public
# Ignore deployment and tooling related files
.dockerignore
.editorconfig
package.json
package-lock.json
Dockerfile
README.md
yarn.lock
# Ignore SVGs
*.svg
node_modules